# Removed items to avoid loosing derived objects when adding to git
#drivers/staging/xradio/
*.a
*.o
*.lib
*.o.*
*.order
modules.builtin
*.ko
*.ko.cmd
*.mod.c
Module.symvers
*.patch
*.orig
\#*#
a.out
*~
#git-describe
#compat-release
#master-tag
modules
.compat_autoconf*
compat_autoconf.h
.config.md5
.config.mk_md5sum.txt
.tmp_versions
Module.symvers
modules.order
patches
.pc
